test-results
*/bin
*.userprefs
AssetServerCacheV3
CurrentLayout.dwlt
expandedItems
FailedAssetImports.txt
ShaderCache.db
Assembly-CSharp-Editor-vs.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-vs.csproj
Assembly-CSharp.csproj
CurrentMaximizeLayout.dwlt

NLog.Unity-csharp.sln
NLog.Unity.sln

Log.txt

bin
!bin/NLog.zip

